{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="form_search">
        <form action="" method="get">
            <label for="">rechercher : </label>
            <input name="search" type="text">
        </form>
    </div>


    <div class="result">
        {% for book in books%}
            <div class="book">
                <!--le titre du livre-->
                <h2>{{ book.title }}</h2>
                <!--le résumé du livre-->
                <p>{{ book.resume }}</p>
                <!--les info du livre-->
                <p>type : {{ book.genre.name }} - {{ book.nbPages }} pages</p>
                <div class="boutton">
                    <button class="button_delete" name="button_delete" type="submit" formmethod="get"><a href="{{path('admin_books', {'id':book.id}) }}">supprimer le livre</a></button>
                </div>
            </div>
        {% endfor %}
        {% if (books ==null) %}
            <div class="empty">
                <p>Entrez une requete s'il vous plait</p>
            </div>
        {% endif %}
    </div>

    </div>
{% endblock %}