{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="content">
        <div class="book">
            <!--le titre du livre-->
            <h2>{{ book.title }}</h2>
            <!--le resume du livre-->
            <p>{{ book.resume }}</p>
            <!--les info du livre-->
            <p>type : {{ book.genre }} - {{ book.nbPages }} pages</p>
            <div class="boutton">
                <button class="button_delete" name="button_delete" type="submit" formmethod="get"><a href="{{path('delete_admin_books', {'id':book.id}) }}">supprimer le livre</a></button>
            </div>
        </div>
    </div>
{% endblock %}