{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="content">
        <!--la boucle qui fera apparaitre les livres sur la page-->
        {% for book in books %}

            <div class="books">
                <a href="{{ path('admin_book', {'id':book.id}) }}">
                    <!--le titre du livre-->
                    <h2>{{ book.title }}</h2>
                    <!--l'image du livre-->
                    <div class="picture">
                        <img src="{{ asset('uploads/book/'~book.bookCover) }}" alt="" class="adminBook_img">
                    </div>
                    <!--les info du livre-->
                    <p>type : {{ book.genre.name}} - {{ book.nbPages }} pages</p>
                </a>
                <div class="boutton">
                    <button class="button_delete" name="button_delete" type="submit" formmethod="get">
                        <a href="{{path('delete_admin_books', {'id':book.id}) }}">supprimer le livre</a>
                    </button>
                    <button class="button_update" name="button_update" type="submit" formmethod="get">
                        <a href="{{path('update_admin_book', {'id':book.id}) }}">modifier le livre</a>
                    </button>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}