{% extends 'base.html.twig' %}
{% block content %}

    <div class="content">
        <!--la boucle qui fera apparaitre les auteurs sur la page-->
        {% for author in authors %}
            <div class="authors">

                <a href="{{ path('author_show', {'id':author.id}) }}">

                    <!--le nom/prenom de l'auteur de l'auteur-->
                        <h2>{{ author.firstname }} {{ author.lastname }}</h2>

                    <!--la biographie de l'auteur-->
                        <p>{{ author.biography }}</p>

                    <!--afficher la date de naissance / mort de l'auteur-->
                            {% if author.deathdate==null %}
                                <p>{{ author.birthdate|date('d-M-Y') }}</p>
                            {% else %}
                                <p>{{ author.birthdate|date('d-M-Y') }} / {{ author.deathdate|date('d-M-Y') }}</p>
                            {% endif %}
                </a>

            </div>
        {% endfor %}
    </div>

{% endblock content %}