{% extends 'base.html.twig' %}
{% block content %}
    <div class="page_title">
        <h2>{{ genre}}</h2>
    </div>

    <div class="content">
        {% for book in books %}
            <div class="book_genre">
                <a href="{{ path('book_show', {'id':book.id}) }}">
                    <!--le titre du livre-->
                    <h2>{{ book.title }}</h2>
                    <!--les info du livre-->
                    <p>type : {{ book.genre }} - {{ book.nbPages }} pages</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}