{% extends 'admin/admin_base.html.twig' %}
{% block content %}

    <h3>Ajouter un livre</h3>
    <div class="form">
        {# afficher le formulaire
        #}
        {{ form_start (bookForm) }}

            <div class="book_titre">
                {{ form_label(bookForm.title) }}
                {{ form_widget(bookForm.title, {'attr': {'class': 'input_title'}}) }}
                {{ form_errors(bookForm.title)}}
            </div>
            <div class="book_nb_pages">
                {{ form_label(bookForm.nbPages) }}
                {{ form_widget(bookForm.nbPages, {'attr': {'class': 'input_nb_pages'}}) }}
                {{ form_errors(bookForm.nbPages)}}
            </div>
            <div class="book_genreForm">
                {{ form_label(bookForm.genre) }}
                {{ form_widget(bookForm.genre, {'attr': {'class': 'input_genre'}}) }}
                {{ form_errors(bookForm.genre)}}
            </div>
            <div class="book_cover">
                {{ form_label(bookForm.bookCover) }}
                {{ form_widget(bookForm.bookCover, {'attr': {'class': 'input_cover'}}) }}
                {{ form_errors(bookForm.bookCover)}}
            </div>
            <div class="book_author">
                {{ form_label(bookForm.author) }}
                {{ form_widget(bookForm.author, {'attr': {'class': 'input_author'}}) }}
                {{ form_errors(bookForm.author)}}
            </div>
            <div class="book_resume">
                {{ form_label(bookForm.resume) }}
                {{ form_widget(bookForm.resume, {'attr': {'class': 'input_resume'}}) }}
                {{ form_errors(bookForm.resume)}}
            </div>
        {{ form_end(bookForm) }}
    </div>

{% endblock %}


