{% extends 'base.html.twig' %}
{% block content %}

    <div class="content_search">

        <div class="form_search">
            <form action="" method="get">
                <label for="">rechercher : </label>
                <input name="search" type="text">
            </form>
        </div>

        <div class="result">
            {% for book in books%}
                <div class="book">
                    <!--le titre du livre-->
                    <h2>{{ book.title }}</h2>
                    <!--l'image du livre-->
                    <div class="picture">
                        <img src="{{ asset('uploads/book/'~book.bookCover) }}" alt="" class="adminBook_img">
                    </div>
                    <!--le résumé du livre-->
                    <p>{{ book.resume }}</p>
                    <!--les info du livre-->
                    <p>type : {{ book.genre.name }} - {{ book.nbPages }} pages</p>
                </div>
            {% endfor %}
            {% if (books ==null) %}
                <div class="empty">
                    <p>Entrez une requete s'il vous plait</p>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}

